<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>VisioNet</title>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  <section class="msger">
    <header class="msger-header">
      <div class="msger-header-title">
        <i class="fas fa-bug"></i> VisioNet <i class="fas fa-bug"></i>
      </div>
    </header>

    <main class="msger-chat">
      <div class="msg left-msg">

        <!-- Треба розібратись з цим (це віконце бота, його ава) -->
        <div class="msg-img" style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"></div>

        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">VisioNet</div>
            <div class="msg-info-time">12:45</div>
          </div>

          <div class="msg-text">
            Hi, welcome to VisioNet! Go ahead and send me your image, and I'll tell you who's in it. 😄
          </div>
        </div>
      </div>
      <!-- Тут буде відображатися відповідь моделі -->
      <div id="predictionResult" class="msg-text"></div>
    </main>

    <form id="fileUploadForm" class="msger-inputarea" method="post" enctype="multipart/form-data">
      <input type="file" id="imageInput" name="file" accept="image/*" style="display:none" onchange="fileSubmit()">
      <label for="imageInput" class="msger-send-btn">Upload Image</label>
    </form>
  </section>

  <script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
  <script>

    // cons with svg img
    const BOT_IMG = "/static/img/robot.svg";
    const PERSON_IMG = "/static/img/user.svg";
    const BOT_NAME = "VisioNet";
    const PERSON_NAME = "You";
    // Utils
    function formatDate(date) {
      const h = "0" + date.getHours();
      const m = "0" + date.getMinutes();
      return `${h.slice(-2)}:${m.slice(-2)}`;
    }

    function appendMessage(name, img, side, text) {
      const msgerChat = document.querySelector(".msger-chat");
      const msgHTML = `
        <div class="msg ${side}-msg">
          <div class="msg-img" style="background-image: url(${img})"></div>
          <div class="msg-bubble">
            <div class="msg-info">
              <div class="msg-info-name">${name}</div>
              <div class="msg-info-time">${formatDate(new Date())}</div>
            </div>
            <div class="msg-text">${text}</div>
          </div>
        </div>`;
      msgerChat.insertAdjacentHTML("beforeend", msgHTML);
      msgerChat.scrollTop += 500;
    }

    // Image processing and submission
    function fileSubmit() {
      const formData = new FormData();
      const imageFile = document.getElementById('imageInput').files[0];
      formData.append("file", imageFile);

      // Відображення зображення в чаті
      const reader = new FileReader();
      reader.onload = function(e) {
        appendMessage(PERSON_NAME, PERSON_IMG, "right", `<img src="${e.target.result}" alt="Sent image" style="width: 100%;">`);
      }
      reader.readAsDataURL(imageFile);

      // Відсилання зображення на сервер
      fetch("/upload_predict", {
        method: "POST",
        body: formData
      })
      .then(response => response.json())
      .then(data => {
        appendMessage("VisioNet", BOT_IMG, "left", data.result);
      })
      .catch(error => console.error("Error:", error));
}
  </script>
</body>

</html>
