<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/styles/style.css"> <!-- Підключення CSS -->
</head>
<body>
    <div class="center-container"> <!-- Контейнер для центрування -->
        <div class="msger"> <!-- Використання класу msger для стилізації -->
            <div class="msger-header">
                <h1>Login</h1>
            </div>

            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <div class="msger-chat"> <!-- Використання класу msger-chat для стилізації повідомлень -->
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
              {% endif %}
            {% endwith %}

            <div class="msger-inputarea"> <!-- Використання класу msger-inputarea для стилізації форми -->
                <form method="post">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>

                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>

                    <input type="submit" value="Login">
                </form>
            </div>
        </div>
    </div>
</body>
</html>
