<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Page Title</title>
  <link rel="stylesheet" href="/static/styles/home.css">
</head>
<body>

<div class="page">
  <header class="navigation-container">
    <div class="top-bar">
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/237d2afd3c4ae9419fa7a21ef7abd7e5534ce965d8365a6764fe1fd38dc4ec2f?apiKey=b26021675ada455fb198954b077b3b88&" class="brand-logo" />
      <nav class="menu-options">
        <div class="Home">Home</div>
        <div class="Contacts">Contacts</div>
      </nav>
    </div>
    <div class="bottom-divider"></div>
  </header>
  <section class="content-section">
    <div class="row">
      <article class="highlight-section">
        <h2 class="highlight-text">Greetings,<br>I'm VisioChatNet,<br>I can class your photo</h2>
        <button class="cta-button">Try now -></button>
      </article>
      <aside class="image-section">
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/6c9998c17aae5587daf37b718cca3a0b3fe554c2ff8e81dc264f1b70b66bbf0d?apiKey=b26021675ada455fb198954b077b3b88&" class="promo-image" />
      </aside>
    </div>
  </section>

  <section class="about-section">
    <h2 class="section-title">About</h2>
    <div class="section-description">
      <p>Our project represents a unique website that integrates artificial intelligence, trained on the famous CIFAR-10 dataset. CIFAR-10 is a standard dataset in the field of machine learning, containing images of various objects such as: <strong>cars, birds, cats, deer, frogs, trucks, dogs, horses, airplanes, and ships.</strong> Our AI model uses this data to improve its image recognition capabilities, providing accurate and quick results.</p>
      <div class="image-container">
        <img src="/static/styles/img/bot.jpg" alt="About Image">
      </div>
    </div>
  </section>
  
</div>

<footer class="footer-container" id="footer">
  <div class="footer-content">
    <section class="brand-section">
      <h2 class="brand-name">VISIOCHATNET</h2>
      <nav class="navigation">
        <a href="#" class="nav-item">Home</a>
        <a href="#" class="nav-item">Contacts</a>
      </nav>
    </section>
    <section class="collaborate-section">
      <h2 class="collaborate-call">Looking to Collaborate 🤝</h2>
      <div class="github-links">
        <div>
          <a href="#" class="github-account">GitHub: Illya Hryhoriev (Team Lead)</a><br>
          <a href="#" class="github-account">GitHub: Dmytro Paukov (Scrum Master)</a>
        </div>
        <div>
          <a href="#" class="github-account">GitHub: Dmytro Klymenko (Dev)</a><br>
          <a href="#" class="github-account">GitHub: Dmytro Filin (Dev)</a>
        </div>
      </div>
    </section>
  </div>
</footer>

<!-- <script>
  const footer = document.getElementById('footer');
  let isFooterVisible = true;

  window.addEventListener('scroll', function() {
    if (window.scrollY > (document.body.scrollHeight - window.innerHeight - 100)) {
      if (!isFooterVisible) {
        footer.style.transform = 'translateY(0)';
        isFooterVisible = true;
      }
    } else {
      if (isFooterVisible) {
        footer.style.transform = 'translateY(100%)';
        isFooterVisible = false;
      }
    }
  });
</script> -->

</body>
</html>
